# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.no
*.o
Logic/LAN_IDE/LAN_IDE_CP_html/
Logic/LAN_IDE/_xmsgs/
Logic/LAN_IDE/log.txt
Logic/LAN_IDE/isim/
Logic/LAN_IDE/*.wdb
*.xds
*.bld
Logic/LAN_IDE/LAN_IDE_CP.cmd_log
*.data
Logic/LAN_IDE/LAN_IDE_CP.gyd
*.lso
Logic/LAN_IDE/LAN_IDE_CP.mfd
*.mod
Logic/LAN_IDE/LAN_IDE_CP.nga
*.ngc
Logic/LAN_IDE/LAN_IDE_CP.ngd
*.ngr
Logic/LAN_IDE/LAN_IDE_CP.pad
*.pnx
*.prj
*.stx
Logic/LAN_IDE/LAN_IDE_CP.syr
*.tim
Logic/LAN_IDE/LAN_IDE_CP.tspec
*.xst
Logic/LAN_IDE/LAN_IDE_CP_build.xml
*.csv
Logic/LAN_IDE/LAN_IDE_CP_xst.xrpt
*.xml
Logic/LAN_IDE/LAN_IDE_CP.vm6
*.xrpt
Logic/LAN_IDE/LAN_IDE_CP_envsettings.html
*.xbcd
Logic/LAN_IDE/xst/
*.ref
*.vho
*.xmsgs
*.lst
Logic/LAN_IDE/LAN_IDE_CP.rpt
*.js
Driver/enc624j6net/clean.bat
